.blockette {
    max-width: 100%; /* Ensure the block does not exceed the parent's width */
}

.img-container {
    width: 100%; /* Adjust image container to fit its parent */
    max-width: 800px; /* Specify maximum width for images */
    overflow: hidden; /* Ensure any overflow is hidden */
}

.img-container img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}