body {
  margin: 0;
  font-family: serif;
}

/* Cursor personalizado */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: rgba(210, 40, 40, 0.9);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/* Oculta el cursor nativo */
body {
  cursor: none;
}
