body {
  margin: 0;
  font-family: serif;
}

html, body {
  cursor: none;
}

/* Cursor personalizado */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

